 <div id="mobileMenu" class="mobile-menu fixed inset-0 z-[60] bg-white">
        <div class="flex items-center justify-between p-4 border-b">
            <div class="flex items-center gap-2">
                <div class="w-9 h-9 bg-khan-blue rounded-full flex items-center justify-center border border-khan-gold">
                    <iconify-icon icon="lucide:bus" class="text-white" width="18"></iconify-icon>
                </div>
                <span class="font-bold text-khan-blue">Khan Enterprise</span>
            </div>
            <button id="mobileClose" class="p-2 text-gray-600"><iconify-icon icon="lucide:x" width="24"></iconify-icon></button>
        </div>


    <!-- Navbar -->
    <div id="navbar"></div>