 <div class="bg-khan-blue text-white py-2 overflow-hidden">
        <div class="flex items-center">
            <span class="bg-khan-gold text-black text-xs font-bold px-4 py-1 mr-4 whitespace-nowrap flex-shrink-0">জরুরি</span>
            <div class="overflow-hidden flex-1">
                <div class="marquee-content flex gap-16 whitespace-nowrap">
                    <span>📢 ঢাকা-তারাকান্দি রুটে প্রতিদিন বাস চলাচল করছে!</span>
                    <span>🎯 bKash/Nagad দিয়ে অনলাইন টিকেট বুক করুন।</span>
                    <span>🚌 সকাল ও বিকাল — দুটি কোচ ছাড়বে।</span>
                    <span>📞 টিকেটের জন্য কল করুন: +880 1302-516469</span>
                    <span>📢 ঢাকা-তারাকান্দি রুটে প্রতিদিন বাস চলাচল করছে!</span>
                    <span>🎯 bKash/Nagad দিয়ে অনলাইন টিকেট বুক করুন।</span>
                   <!--  <span>🚌 সকাল ও বিকাল — দুটি কোচ ছাড়বে।</span> -->
                    <span>📞 টিকেটের জন্য কল করুন: +880 1302-516469</span>
                </div>
            </div>
        </div>
    </div>